<html>
<head>
  <meta charset="utf-8">
  <title>Jolokia Web Console Beta</title>

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.8/themes/default/style.min.css">

  <link rel="stylesheet" type="text/css" href="app.css">

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.8/jstree.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/libs/jolokia-min.js"></script>
  <script type="text/javascript" src="/libs/jolokia-simple-min.js"></script>

  <script type="text/javascript" src="app.js"></script>
</head>
<body class="container" ng-app="jolokiaWebConsole">
  <div ng-controller="HomeCtrl">

    <!-- Progress Modal -->
    <div id="loadingProgress" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h2>Loading...</h2>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Page  -->
    <h1>Jolokia Web Console Beta</h1>

    <hr>
    <div ng-hide="!alertMessage" class="alert" ng-class="alertLevel" role="alert">
      {{alertMessage}}
    </div>
    <form class="simple-form" role="form">
      <div class="form-group">
        <label>
          IP Address/Hostname: <input type="text" class="form-control" placeholder="192.168.0.123" ng-model="hostname" />
        </label>
        <button type="button" class="btn btn-primary" ng-click="setServer()">Connect</button>
      </div>
    </form>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <js-tree config="jsTreeConfig" tree-events="jsTreeEvents"></js-tree>
      </div>
      <div class="col-md-8">
        <div id="node-details" ng-hide="!treeData || treeData.length == 0">
          <h4 >{{nodeDetails.desc}}</h4>
          <hr>
          <table ng-hide="!nodeDetails.attrs" class="table table-striped">
            <thead>
              <tr>
                <th>Attribute Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="(name, _attr) in nodeDetails.attrs">
                <td>{{name}}</td>
                <td>{{_attr | json}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</body>
</html>