<!--
Copyright (c) 2014 Graham McGregor

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<html>
<head>
  <meta charset="utf-8">
  <title>Jolokia Web Console Beta</title>

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.8/themes/default/style.min.css">

  <link rel="stylesheet" type="text/css" href="app.css">

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.8/jstree.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/libs/jolokia-min.js"></script>
  <script type="text/javascript" src="/libs/jolokia-simple-min.js"></script>

  <script type="text/javascript" src="app.js"></script>
</head>
<body class="container" ng-app="jolokiaWebConsole">
  <div ng-controller="HomeCtrl">

    <!-- GitHub Ribbon -->
    <a href="https://github.com/Graham42/jolokia_web_console"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    <!-- Progress Modal -->
    <div id="loadingProgress" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h2>Loading...</h2>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main Page  -->
    <h1>Jolokia Web Console Beta</h1>
    <p>
    This is a open source, web based, java console. It is completely client side so you can use it to connect to local ip addresses or even use a local proxy.
    </p>
    <hr>
    <div ng-hide="!alertMessage" class="alert" ng-class="alertLevel" role="alert">
      {{alertMessage}}
    </div>
    <form class="simple-form" role="form">
      <div class="form-group">
        <label>
          IP Address/Hostname: <input type="text" class="form-control" placeholder="192.168.0.123" ng-model="hostname" />
        </label>
        <button type="button" class="btn btn-primary" ng-click="setServer()">Connect</button>
      </div>
      <div class="form-group">
        <p style="font-weight: bold;">Optional Basic HTTP Authentication:</p>
        <label>
          Username: <input type="text" class="form-control" placeholder="admin" ng-model="username" />
        </label>
        <label>
          Password: <input type="password" class="form-control" placeholder="******" ng-model="password" />
        </label>
      </div>
    </form>

    <hr>

    <div class="row">
      <div class="col-md-5">
        <js-tree id="nav-tree" config="jsTreeConfig" tree-events="jsTreeEvents"></js-tree>
      </div>
      <div class="col-md-7">
        <!-- TODO format better -->
        <div ng-hide="!nodeDetails">
          <pre>{{nodeDetails}}</pre>
        </div>
      </div>
    </div>
  </div>

</body>
</html>